@import "./mixins/mediaquery";

.post {
  width: 100%;
  padding: 0px 96px;
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin: 96px 0px;
  @include for-size(mobile-only) {
    padding: 0px 32px 0px 36px;
  }
  @include for-size(tablet-only) {
    padding: 0px 32px 0px 36px;
  }
  .headerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #6941c6;
    }
    .moment {
      color: var(--primary-600, #7f56d9);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    h1 {
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 60px;
      letter-spacing: -0.96px;
    }
    .hcontent {
      color: var(--gray-500, #667085);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
    &_image {
      position: relative;
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
    padding: 0px 20%;
    @include for-size(tablet-only) {
      padding: 0;
    }
    @include for-size(mobile-only) {
      padding: 0;
    }
    .intro {
      color: var(--gray-500, #667085);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      box-sizing: border-box;
      text-align: justify;
    }
    &_image {
      position: relative;
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .blockquote {
      display: flex;
      padding: 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      border-left: 1px solid var(--primary-700, #6941c6);
      blockquote {
        color: var(--gray-900, #101828);
        font-family: Inter;
        font-size: 24px;
        font-style: italic;
        font-weight: 500;
        line-height: 36px;
      }
      p {
        color: var(--gray-500, #667085);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .conclusion {
      display: flex;
      padding: 32px 32px 40px 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      border-radius: 16px;
      background: var(--gray-50, #f9fafb);
      h6 {
        color: var(--gray-900, #101828);
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
      }
      p {
        color: var(--gray-500, #667085);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        box-sizing: border-box;
        text-align: justify;
      }
    }
    .user {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 24px;
      border-top: 1px solid var(--gray-200, #eaecf0);
      width: 100%;
      @include for-size(mobile-only) {
        flex-direction: column;
        gap: 24px;
      }
      @include for-size(tablet-only) {
        flex-direction: column;
        gap: 24px;
      }
      &_imageArea {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        &_image {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        &_name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;
          h6 {
            color: var(--gray-900, #101828);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }
          p {
            color: var(--gray-500, #667085);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      &_tags {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        &_item {
          display: flex;
          padding: 2px 10px;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
          background: var(--primary-50, #f9f5ff);
          color: var(--primary-700, #6941c6);
          text-align: center;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h4 {
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 8px;
  }
  p {
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
  }
  &_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    label {
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
    input {
      height: 40px;
      resize: none;
      border: 0.4px solid #d6d6d6;
      border-radius: 4px;
      outline: none;
      padding: 16px 24px;
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
    textarea {
      height: 100px;
      resize: none;
      border: 0.4px solid #d6d6d6;
      border-radius: 4px;
      outline: none;
      padding: 16px 24px;
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
  button {
    cursor: pointer;
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--primary-600, #7f56d9);
    background: var(--primary-600, #7f56d9);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--White, #fff);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
